* {
    font-family: "Oswald";

}
body {
    padding: 0% 20% 00% 20%;
}
header {
    text-align: center;
    width: 100%;
}
footer {
    text-align: center;
}
div {
    text-align: center;
}
h3 {
    color:brown;

}
nav {
     display:flex;
     justify-content: center;
}
ul {
     display:flex; 
     gap: 20px;
     list-style:none; 
     gap: 20px; 
     padding: 0;
     text-decoration: none;
     font-size: 25px;
     margin: 0;
}
h1 {
    text-align: center; 
    margin:10px;
}


li, a {
    text-decoration: none; 
    color:rgb(15, 151, 151);
}

label {
    font-size: 19px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:auto;
    width: 50%;

}

.form label {
    margin-bottom: 8px;
}

.form label input[type="radio"] {
    margin-right: 5px;
}

#radioButtons {
    display: flex;
    flex-direction: column;
}
.classesTimeTitle {
    font-size: 20px;
    align-self: center;
    text-align: center;
    margin-bottom: 10px;
}

#ticker {
    display:flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.commentBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.commentBlock label {
  font-size: 19px;
  margin-bottom: 8px;
  align-self: flex-start;
}

.commentBlock textarea {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  padding: 8px;
  resize: vertical; /* allows user to resize height */
}
